{% extends "posApp/base.html" %} {% load humanize %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Lista de ventas</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="20%">
                    <col width="25%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">Fecha</th>
                        <th class="text-center py-1">Cod. transaccion</th>
                        <th class="text-center py-1">Total</th>
                        <th class="text-center py-1">Impuesto </th>
                        <th class="text-center py-1">Descuento </th>
                        <th class="text-center py-1">Items</th>
                        <th class="text-center py-1">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sale_data %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ sale.id }}</td>
                        <td class="px-2 py-1 text-start">{{ sale.date_added|date:'Y-m-d H:i' }}</td>
                        <td class="px-2 py-1 text-start">{{ sale.code }}</td>
                        <td class="px-2 py-1 text-end">{{ sale.grand_total|floatformat:2 }}</td>
                        <td class="px-2 py-1 text-end">({{ sale.tax }}%) {{ sale.tax_amount|intcomma:2 }}</td>
                        <td class="px-2 py-1 text-end">{{ sale.descuento|intcomma:2 }}</td>
                        <td class="px-2 py-1 text-center">{{ sale.item_count|intcomma }}</td>
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded view-data" type="button" data-id="{{ sale.id }}" title="View Receipt">
                                <i class="material-icons mdc-button__icon">receipt</i>
                            </button>
                            {% if request.user.is_superuser %}

                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ sale.id }}" data-code="{{ sale.code }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('.view-data').click(function() {
            uni_modal("Boleta emitida", "{% url 'receipt-modal' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Estas seguro de borrar el registro <b>" + $(this).attr('data-code') + "</b> ?", "delete_sale", [$(this).attr('data-id')])
        })

    })

    //Mostrar Checkbox Restaurar stock
    $(document).ready(function () {
        // Mostrar el checkbox al abrir el modal
        $('#confirm_modal').on('show.bs.modal', function () {
            $('#rest_stock_con').removeClass('d-none'); // Quita la clase para mostrar el checkbox
        });
    
        // Ocultar el checkbox al cerrar el modal
        $('#confirm_modal').on('hidden.bs.modal', function () {
            $('#rest_stock_con').addClass('d-none'); // Añade la clase para ocultar el checkbox
        });
    });
    
    function delete_sale(id, restoreStock) {

        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-sale' %}",
            method: 'POST',
            data: {
                id: id,
                restore_stock: restoreStock,
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            },
            success: function (resp) {
                if (resp.status === 'success') {
                    location.reload();
                } else {
                    alert(resp.msg || 'No se pudo eliminar la venta.');
                }
            },
            error: function () {
                alert('Ocurrió un error al procesar la solicitud.');
            },
        });
    }
    
</script>
{% endblock ScriptBlock %}