{% extends "posApp/base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Lista de Tallas</h4>
            <div class="text-start">
                <button class="btn btn-primary bg-gradient btn-sm rounded-0" id="create_new"><i class="mdi mdi-plus"></i><span> Agregar nuevo</span></button>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="row mb-3">
            <div class="col-md-6 col-lg-4">
              <form method="get" action="{% url 'size-page' %}">
                  <div class="input-group">
                      <input type="text" name="search" class="form-control" placeholder="Buscar Talla" value="{{ request.GET.search }}">
                      <button type="submit" class="btn btn-primary">Buscar</button>
                  </div>
              </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="50%">
                    <col width="30%">
                    <col width="10%">

                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">Nombre</th>
              
                    </tr>
                </thead>
                <tbody>
                    {% for cat in size %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ cat.id }}</td>
                        <td class="px-2 py-1 text-start">{{ cat.name }}</td>
                        <td class="px-2 py-1 text-center">
                            {% if cat.status == 1 %}
                            <span class="badge bg-primary rounded-pill px-3">Activo</span> {% else %}
                            <span class="badge bg-secondary rounded-pill px-3">Inactivo</span> {% endif %}
                        </td>                    
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ cat.pk }}" title="Edit">
                                <i class="material-icons mdc-button__icon">edit</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ cat.pk }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Agregar nueva talla", "{% url 'manage_size-page' %}")
        })
        $('.edit-data').click(function() {
            uni_modal("Editar talla", "{% url 'manage_size-page' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("¿Esta seguro de borrar esta talla?", "delete_size", [$(this).attr('data-id')])
        })
    

    })


    
    function delete_size($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-size' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err);
                alert("Ocurrió un error al intentar eliminar la talla.");
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else if (resp.status == 'failed' && resp.message) {
                    alert(resp.message); // Mostrar el mensaje personalizado del backend
                } else {
                    alert("Ocurrió un error inesperado.");
                }
                end_loader();
            }
        });
    }
</script>
{% endblock ScriptBlock %}